/* Make Post */
.make_post > div {
    margin-bottom: 0.5rem;
}
.make_post .make_post__header {
    font-size: 1.5rem;
}
.make_post .make_post__textarea textarea {
    background: lightsalmon;
    width: 100%;
    padding: 1rem;
    letter-spacing: 1px;
    resize: none;
}
.make_post .make_post__textarea textarea::placeholder {
    color: white;
}
.make_post .make_post__btn {
    width: 100%;
    background: greenyellow;
    padding: 1rem;
    color: black;
    font-weight: bold;
    text-align: center;
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: 20px;
    transition: all 300ms linear;
}
.make_post .make_post__btn:hover {
    color: greenyellow;
    background: black;
}

/* Post List */
.postList {
    width: 100%;
    margin: 15px 0;
}
