/* Cover Image Part */
.user_cover_image {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
    overflow: hidden;
}
.user_cover_image img {
    width: 100%;
    height: 100%;
}
/* User Info Part Profile Picture and Main Info */
.user_info {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.user_info__profile_picture {
    width: 5rem;
    height: 5rem;
}
.user_info__profile_picture img {
    width: 100%;
}

.user_info__main_info {
    margin-left: 20px;
}
.user_info__main_info h3 {
    margin-bottom: 0.5rem;
    font-size: 1.3rem;
}

/* Make Post */
.make_post > div {
    margin-bottom: 0.5rem;
}
.make_post .make_post__header {
    font-size: 1.5rem;
}
.make_post .make_post__textarea textarea {
    background: lightsalmon;
    width: 100%;
    padding: 1rem;
    letter-spacing: 1px;
    resize: none;
}
.make_post .make_post__textarea textarea::placeholder {
    color: white;
}
.make_post .make_post__btn {
    width: 100%;
    background: greenyellow;
    padding: 1rem;
    color: black;
    font-weight: bold;
    text-align: center;
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: 20px;
    transition: all 300ms linear;
}
.make_post .make_post__btn:hover {
    color: greenyellow;
    background: black;
}
