* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    background: transparent;
    font-family: inherit;
    color: inherit;
    font-size: inherit;
}

ul,
li {
    list-style-type: none;
}

.App {
    width: 100vw;
    height: 100vh;
    overflow: scroll;
    padding: 20px 0;
}

.wrapper {
    width: 80%;
    margin: 0 auto;
}

.content {
    display: flex;
    gap: 10px;
}
/* Main Content */
.main-content {
    width: 80%;
}
